@charset "utf-8";

*{margin:0; padding:0; box-sizing: border-box;}

a {
    text-decoration: none;
    color:black;
}

#layout {

    max-width:600px; margin:auto;
    border:3px solid black;
    overflow: hidden;
    position: relative;
}

iframe#header {
    width:100%;
    height: 800px;
    position:absolute;
}


main {
    text-align: center;
}


#about main img {
    display:block; height: 100vh; 
}

#index main img {
    display:block; height: 100vh; 
}

#work main img {
    display:block; height: 100vh; 
}

main img { 

    height: 100vh; 

}

footer {
    background: black;
    padding:30px;
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
    left:0;

}

footer a{

    color:white; padding:5px; margin:5px;
}